<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90095132620-9q86qbctcnbrqvqh6desavv88gv53q6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90095132620-9q86qbctcnbrqvqh6desavv88gv53q6i</string>
	<key>API_KEY</key>
	<string>AIzaSyAnCCIULg58Uyn-fIj7Qf-wbR7M8SFu1UM</string>
	<key>GCM_SENDER_ID</key>
	<string>90095132620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imados.almatch</string>
	<key>PROJECT_ID</key>
	<string>almatch-8bdbf</string>
	<key>STORAGE_BUCKET</key>
	<string>almatch-8bdbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90095132620:ios:3519029ffc2bb90e944769</string>
</dict>
</plist>